/* Space out content a bit */
body,html {
  padding:0px;
  margin:0px;
  font-family: 'Arvo', sans-serif;
}
#main_screen{
	border: 1px solid black;
}
.cameraBtn{
	position: absolute;
	top:5px;
	left:5px;
	padding:5px;
	background-color: orange;
}
.blocker{
	padding:20px;
	position: absolute;
	top:100px;
	left:100px;
	background-color: #CCCCCC;
	opacity: .5;
}
