/* Space out content a bit */
body,html {
  padding:0px;
  margin:0px;
  font-family: 'Arvo', sans-serif;
}
.cameraBtn{
	position: absolute;
	top:5px;
	left:5px;
	padding:5px;
	background-color: orange;
}
